.sidenav {
    padding-top: 20px;
    transition: 0.3s;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top: -20px;
  }
  
  .sidenav a {
    text-decoration: none;
    font-size: 18px;
    display: block;
    transition: 0.3s;
  }

  .nav-icons {
    font-size: 22px;
  }
  

  