/* Signup.css */

/* Center the form vertically */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form container */
.signup-form {
    padding: 30px;
    border-radius: 8px;
    border: 2px solid #d60dab;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

/* Input fields */
.form-control {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #d60dab;
    border-radius: 4px;
    width: 100%;
}

/* File input style */
.form-control-file {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #d60dab;
    border-radius: 4px;
    width: 100%;
    
}

/* Submit button */
.btn-primary {
    background-color: #b313b6;
    border: none;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
}

.btn-primary:hover {
    background-color: #701567;
}

/* Error message */
.text-danger {
    color: #dc3545;
    margin-top: -10px;
    margin-bottom: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .signup-form {
        width: 90%;
        max-width: 400px;
    }
}
